.div {
    display: grid;
    justify-content: center;
    justify-self: center;
    max-width: 50%;
    position: fixed;
    z-index: 9999;
    top: 20px;
    right: 20px;
    left: auto;
}
@keyframes fadeInOut {
  0%   { opacity: 0; transform: translateY(-20px); }
  10%  { opacity: 1; transform: translateY(0); }
  80%  { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); visibility: hidden; }
}

.alert {
  animation: fadeInOut 6s ease forwards;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    margin-left: 10px;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    
}
.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}
.alert-withe {
    padding-left: 61px;
    position: relative;
}
.alert-withe .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #bdbdbd;
}
.alert-withe .icon:after {
    transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -5px;
    background: #fff;
}
.alert-withe.rounded {
    border-radius: 3px;
}
.alert-withe.rounded .icon {
    border-radius: 3px 0 0 3px;
}
.alert-withe .icon i{
    font-size: 20px;
    color: #fff;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}
.alert-withe.alert-danger .icon, .alert-withe.alert-danger .icon:after {
    background-color: #ca452e;
    background: #da4932;
}
.alert-withe.alert-info .icon, .alert-withe.alert-info .icon:after {
    background-color: #3a8ace;
    background: #4d90fd;
}
.alert-withe.alert-warning .icon, .alert-withe.alert-warning .icon:after {
    background-color: #d68000;
    background: #fc9700;
}
.alert-withe.alert-success .icon, .alert-withe.alert-success .icon:after {
    background-color: #54a754;
    background: #60c060;
}
@media (max-width: 950px) { 
    .div {
        max-width: 70%;
    }
    .mensagem-alert {
        font-size: 15px;
    }
    .alert {
        padding: 10px;
        padding-left: 55px;
    }
}
@media (max-width: 760px) {
        
    .mensagem-alert {
        font-size: 15px;
    }
    .alert {
        padding-left: 46px;
    }
    .alert-withe .icon i {
        font-size: 15px;
    }
    .alert-withe .icon {
        width: 35px;
    }
}
@media (max-width: 490px) {
    .div {
        max-width: 80%;
    }
    .alert-withe .icon i {
        font-size: 10px;
        left: 8px;
        margin-top: -6px;
        top: 52%;
    }
    .alert {
        padding: 4px;
        padding-left: 35px;
    }
    .alert-withe .icon {
        width: 25px;
    }
}