.container-login {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #3fdada, #2EAEAF, #1e6b6b);
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease infinite;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.bloco-form {
    display: grid;
    height: 470px;
    width: 564px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 6px 6px 0 #2280803a;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.icon-baby {
    height: 35px;
}
.titulo {
    color: #2EAEAF;
    font-size: 35px;
}
.conteudo {
    padding: 30px;
    display: grid;
    gap: 1rem;
}
.inputs {
    display: flex;
    gap: 2px;
    flex-direction: column;
}
.label {
    color: #2EAEAF;
    font-weight: 500;
}
.input {
    height: 45px;
    border: 0.05px solid #adabab7a;
    border-radius: 5px;
    font-size: 20px;
    color: #7e7e7e;
    padding-left: 5px;
}
.cadastre-se {
    color: #2EAEAF;
    display: flex;
    justify-content: right;
    text-decoration: none;
}
.botao-entrar {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    background-color: #2EAEAF;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: none;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}
.icone-botao {
    height: 30px;
    width: 37px;
}

